<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
      "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">
<hibernate-configuration>
<!-- hibernate.cfg.xml -->
<session-factory>
  <property name="connection.driver_class">
  oracle.jdbc.driver.OracleDriver</property>
  <property name="connection.url">
  jdbc:oracle:thin:@localhost:1521:orcl</property>
  <property name="connection.username">
  c##Tamirat</property>
  <property name="connection.password">
  Tamirat</property>
  
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.show_sql">true</property>
  
 
  <property name="dialect">org.hibernate.dialect.OracleDialect</property>
  
   <mapping class="com.tam.wold.Department"/>
</session-factory>
</hibernate-configuration>